In [1]:
#importing required libraries
import numpy as np
import scipy as sp
import pandas as pd

In [5]:
from pandas.io.parsers import read_csv

#loading data into dataframe
df = read_csv("Documents/BU/DSC 350/Week 4/WHO_first9cols.csv")
print("Dataframe Top 5 rows:\n", df.head())

Dataframe Top 5 rows:
        Country  CountryID  Continent  Adolescent fertility rate (%)  \
0  Afghanistan          1          1                          151.0
1      Albania          2          2                           27.0
2      Algeria          3          3                            6.0
3      Andorra          4          2                            NaN
4       Angola          5          3                          146.0

   Adult literacy rate (%)  \
0                     28.0
1                     98.7
2                     69.9
3                      NaN
4                     67.4

   Gross national income per capita (PPP international $)  \
0                                                NaN
1                                             6000.0
2                                             5940.0
3                                                NaN
4                                             3890.0

   Net primary school enrolment ratio female (%)  \
0                                            NaN
1                                           93.0
2                                           94.0
3                                           83.0
4                                           49.0

   Net primary school enrolment ratio male (%)  \
0                                          NaN
1                                         94.0
2                                         96.0
3                                         83.0
4                                         51.0

   Population (in thousands) total
0                          26088.0
1                           3172.0
2                          33351.0
3                             74.0
4                          16557.0

In [6]:
#Query the number of rows
print("Length:\n", len(df))

Length:
 202

In [7]:
#Print the column headers
print("Column Headers:\n", df.columns)

Column Headers:
 Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [10]:
#Print the data types
print("Data types:\n", df.dtypes)
print("\n")

Data types:
 Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [11]:
#Print the index
print("Index:\n", df.index)

Index:
 RangeIndex(start=0, stop=202, step=1)

In [12]:
#returns "Country" column its data type along with the series shape, index, values, and name.
country_col = df["Country"]
print("Type df:\n", type(df), "\n")
print("Type country col:\n", type(country_col), "\n")

print("Series shape:\n", country_col.shape, "\n")
print("Series index:\n", country_col.index, "\n")
print("Series values:\n", country_col.values, "\n")
print("Series name:\n", country_col.name, "\n")

Type df:
 <class 'pandas.core.frame.DataFrame'>

Type country col:
 <class 'pandas.core.series.Series'>

Series shape:
 (202,)

Series index:
 RangeIndex(start=0, stop=202, step=1)

Series values:
 ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

Series name:
 Country

In [21]:
!pip install quandl

Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: requests>=2.7.0 in c:\users\12162\anaconda3\lib\site-packages (from quandl) (2.26.0)
Requirement already satisfied: numpy>=1.8 in c:\users\12162\anaconda3\lib\site-packages (from quandl) (1.20.3)
Requirement already satisfied: more-itertools in c:\users\12162\anaconda3\lib\site-packages (from quandl) (8.10.0)
Requirement already satisfied: python-dateutil in c:\users\12162\anaconda3\lib\site-packages (from quandl) (2.8.2)
Requirement already satisfied: six in c:\users\12162\anaconda3\lib\site-packages (from quandl) (1.16.0)
Requirement already satisfied: pandas>=0.14 in c:\users\12162\anaconda3\lib\site-packages (from quandl) (1.3.4)
Requirement already satisfied: inflection>=0.3.1 in c:\users\12162\anaconda3\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\12162\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2021.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\12162\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\12162\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\12162\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\12162\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2021.10.8)
Installing collected packages: quandl
Successfully installed quandl-3.7.0

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\12162\anaconda3\python.exe -m pip install --upgrade pip' command.

In [22]:
import quandl

#print the head of quandAPI
 sunspots = quandl.get("SIDC/SUNSPOTS_A")
print("Head 2:\n", sunspots.head(2) )

Head 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               8.3                             NaN
1701-12-31                              18.3                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               1.0
1701-12-31                     NaN                               1.0

In [24]:
#print the tail of quandAPI
print("Tail 2:\n", sunspots.tail(2))

Tail 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

In [25]:
#Query for the last value using the last date
last_date = sunspots.index[-1]
print("Last value:\n",sunspots.loc[last_date])

Last value:
 Yearly Mean Total Sunspot Number        8.8
Yearly Mean Standard Deviation          4.1
Number of Observations              14440.0
Definitive/Provisional Indicator        1.0
Name: 2020-12-31 00:00:00, dtype: float64

In [26]:
#Query the date with date strings in the YYYYMMDD format
print("Values slice by date:\n", sunspots["20020101": "20131231"])

Values slice by date:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9

            Number of Observations  Definitive/Provisional Indicator
Date
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0

In [28]:
#Query with a Boolean, where the number of sunspots is greater than the mean number of sunspots
print("Boolean selection:\n", sunspots[sunspots > sunspots.mean()])

Boolean selection:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               NaN                             NaN
1701-12-31                               NaN                             NaN
1702-12-31                               NaN                             NaN
1703-12-31                               NaN                             NaN
1704-12-31                               NaN                             NaN
...                                      ...                             ...
2016-12-31                               NaN                             NaN
2017-12-31                               NaN                             NaN
2018-12-31                               NaN                             NaN
2019-12-31                               NaN                             NaN
2020-12-31                               NaN                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               NaN
1701-12-31                     NaN                               NaN
1702-12-31                     NaN                               NaN
1703-12-31                     NaN                               NaN
1704-12-31                     NaN                               NaN
...                            ...                               ...
2016-12-31                  9940.0                               NaN
2017-12-31                 11444.0                               NaN
2018-12-31                 12611.0                               NaN
2019-12-31                 12884.0                               NaN
2020-12-31                 14440.0                               NaN

[321 rows x 4 columns]

In [29]:
#Query with a Boolean, where the number of observations is greater than the mean number of observations
print("Boolean selection with column label:\n", sunspots[sunspots['Number of Observations'] > sunspots['Number of Observations'].mean()])

Boolean selection with column label:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1981-12-31                             198.9                            13.1
1982-12-31                             162.4                            12.1
1983-12-31                              91.0                             7.6
1984-12-31                              60.5                             5.9
1985-12-31                              20.6                             3.7
1986-12-31                              14.8                             3.5
1987-12-31                              33.9                             3.7
1988-12-31                             123.0                             8.4
1989-12-31                             211.1                            12.8
1990-12-31                             191.8                            11.2
1991-12-31                             203.3                            12.7
1992-12-31                             133.0                             8.9
1993-12-31                              76.1                             5.8
1994-12-31                              44.9                             4.4
1995-12-31                              25.1                             3.7
1996-12-31                              11.6                             3.1
1997-12-31                              28.9                             3.6
1998-12-31                              88.3                             6.6
1999-12-31                             136.3                             9.3
2000-12-31                             173.9                            10.1
2001-12-31                             170.4                            10.5
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
1981-12-31                  3049.0                               1.0
1982-12-31                  3436.0                               1.0
1983-12-31                  4216.0                               1.0
1984-12-31                  5103.0                               1.0
1985-12-31                  5543.0                               1.0
1986-12-31                  5934.0                               1.0
1987-12-31                  6396.0                               1.0
1988-12-31                  6556.0                               1.0
1989-12-31                  6932.0                               1.0
1990-12-31                  7108.0                               1.0
1991-12-31                  6932.0                               1.0
1992-12-31                  7845.0                               1.0
1993-12-31                  8010.0                               1.0
1994-12-31                  8524.0                               1.0
1995-12-31                  8429.0                               1.0
1996-12-31                  7614.0                               1.0
1997-12-31                  7294.0                               1.0
1998-12-31                  6353.0                               1.0
1999-12-31                  6413.0                               1.0
2000-12-31                  5953.0                               1.0
2001-12-31                  6558.0                               1.0
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

In [30]:
#Using the Quandl API, import the data and run the following descriptive stats where Sunspots is not equal to NaN
import quandl

sunspots = quandl.get("SIDC/SUNSPOTS_A")
print("Describe", sunspots.describe(),"\n")
print("Non NaN observations", sunspots.count(),"\n")
print("MAD", sunspots.mad(),"\n")
print("Median", sunspots.median(),"\n")
print("Min", sunspots.min(),"\n")
print("Max", sunspots.max(),"\n")
print("Mode", sunspots.mode(),"\n")
print("Standard Deviation", sunspots.std(),"\n")
print("Variance", sunspots.var(),"\n")
print("Skewness", sunspots.skew(),"\n")
print("Kurtosis", sunspots.kurt(),"\n")

Describe        Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
count                        321.000000                      203.000000
mean                          78.517134                        7.892118
std                           62.091523                        3.866310
min                            0.000000                        0.500000
25%                           24.200000                        4.550000
50%                           65.300000                        7.600000
75%                          115.200000                       10.350000
max                          269.300000                       19.100000

       Number of Observations  Definitive/Provisional Indicator
count              203.000000                             321.0
mean              1691.857143                               1.0
std               2913.060813                               0.0
min                150.000000                               1.0
25%                365.000000                               1.0
50%                365.000000                               1.0
75%                366.000000                               1.0
max              14440.000000                               1.0

Non NaN observations Yearly Mean Total Sunspot Number    321
Yearly Mean Standard Deviation      203
Number of Observations              203
Definitive/Provisional Indicator    321
dtype: int64

MAD Yearly Mean Total Sunspot Number      51.020996
Yearly Mean Standard Deviation         3.177068
Number of Observations              2162.410978
Definitive/Provisional Indicator       0.000000
dtype: float64

Median Yearly Mean Total Sunspot Number     65.3
Yearly Mean Standard Deviation        7.6
Number of Observations              365.0
Definitive/Provisional Indicator      1.0
dtype: float64

Min Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        0.5
Number of Observations              150.0
Definitive/Provisional Indicator      1.0
dtype: float64

Max Yearly Mean Total Sunspot Number      269.3
Yearly Mean Standard Deviation         19.1
Number of Observations              14440.0
Definitive/Provisional Indicator        1.0
dtype: float64

Mode    Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
0                              18.3                             9.2

   Number of Observations  Definitive/Provisional Indicator
0                   365.0                               1.0

Standard Deviation Yearly Mean Total Sunspot Number      62.091523
Yearly Mean Standard Deviation         3.866310
Number of Observations              2913.060813
Definitive/Provisional Indicator       0.000000
dtype: float64

Variance Yearly Mean Total Sunspot Number    3.855357e+03
Yearly Mean Standard Deviation      1.494835e+01
Number of Observations              8.485923e+06
Definitive/Provisional Indicator    0.000000e+00
dtype: float64

Skewness Yearly Mean Total Sunspot Number    0.814781
Yearly Mean Standard Deviation      0.533409
Number of Observations              2.099601
Definitive/Provisional Indicator    0.000000
dtype: float64

Kurtosis Yearly Mean Total Sunspot Number   -0.123304
Yearly Mean Standard Deviation     -0.248137
Number of Observations              3.715845
Definitive/Provisional Indicator    0.000000
dtype: float64

In [31]:
#Using the numpy random data generator, create a dataframe with the following columns (Weather, Food  Price, and Number)
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)

df = pd.DataFrame({'Weather' : ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(7), 'Number' : randint(1, 9)})

print(df)

  Weather       Food     Price  Number
0    cold       soup  3.745401       8
1     hot       soup  9.507143       8
2    cold   icecream  7.319939       8
3     hot  chocolate  5.986585       8
4    cold   icecream  1.560186       8
5     hot   icecream  1.559945       8
6    cold       soup  0.580836       8

In [32]:
#Group the data by the weather column and then create a function to iterate through the groups 
#(you should have 2 groups after, for hot and cold)
weather_group = df.groupby('Weather')

i = 0

for name, group in weather_group:
   i = i + 1
   print("Group", i, name)
   print(group)

Group 1 cold
  Weather      Food     Price  Number
0    cold      soup  3.745401       8
2    cold  icecream  7.319939       8
4    cold  icecream  1.560186       8
6    cold      soup  0.580836       8
Group 2 hot
  Weather       Food     Price  Number
1     hot       soup  9.507143       8
3     hot  chocolate  5.986585       8
5     hot   icecream  1.559945       8

In [33]:
#Function/variable created (weather_group) can be used for aggregation methods
#print first row, last row and mean for each group
print("Weather group first\n", weather_group.first())
print("Weather group last\n", weather_group.last())
print("Weather group mean\n", weather_group.mean())

Weather group first
          Food     Price  Number
Weather
cold     soup  3.745401       8
hot      soup  9.507143       8
Weather group last
              Food     Price  Number
Weather
cold         soup  0.580836       8
hot      icecream  1.559945       8
Weather group mean
             Price  Number
Weather
cold     3.301591     8.0
hot      5.684558     8.0

In [34]:
#Create another group – on Food (so you would have Weather and Food)
wf_group = df.groupby(['Weather', 'Food'])
print("WF Groups", wf_group.groups)

WF Groups {('cold', 'icecream'): [2, 4], ('cold', 'soup'): [0, 6], ('hot', 'chocolate'): [3], ('hot', 'icecream'): [5], ('hot', 'soup'): [1]}

In [35]:
#Using the new groups – use the numpy function agg() to find the mean and median number and price
print("WF Aggregated\n", wf_group.agg([np.mean, np.median]))

WF Aggregated
                       Price           Number
                       mean    median   mean median
Weather Food
cold    icecream   4.440063  4.440063    8.0    8.0
        soup       2.163119  2.163119    8.0    8.0
hot     chocolate  5.986585  5.986585    8.0    8.0
        icecream   1.559945  1.559945    8.0    8.0
        soup       9.507143  9.507143    8.0    8.0

In [36]:
#Using the dataframe you created in #5, select the first 3 rows
print("df :3\n", df[:3])

df :3
   Weather      Food     Price  Number
0    cold      soup  3.745401       8
1     hot      soup  9.507143       8
2    cold  icecream  7.319939       8

In [37]:
#Using the concat function from pandas, put the 3 rows you selected back with the original dataframe
print("Concat Back together\n", pd.concat([df[:3], df[3:]]))

Concat Back together
   Weather       Food     Price  Number
0    cold       soup  3.745401       8
1     hot       soup  9.507143       8
2    cold   icecream  7.319939       8
3     hot  chocolate  5.986585       8
4    cold   icecream  1.560186       8
5     hot   icecream  1.559945       8
6    cold       soup  0.580836       8

In [38]:
#Using the append function, take those 3 rows and the last 2 rows of the original DataFrame and bring them together
print("Appending rows\n", df[:3].append(df[5:]))

Appending rows
   Weather      Food     Price  Number
0    cold      soup  3.745401       8
1     hot      soup  9.507143       8
2    cold  icecream  7.319939       8
5     hot  icecream  1.559945       8
6    cold      soup  0.580836       8

In [39]:
#Joining dataframes
#Using the two CSV files dest.csv and tips.csv, we will bring together two datasets, also known as a join
dests = pd.read_csv("Documents/BU/DSC 350/Week 4/dest.csv")
print("Dests\n", dests)

tips = pd.read_csv("Documents/BU/DSC 350/Week 4/tips.csv")
print("Tips\n", tips)

#Using the merge() function, bring dest and tips together on the “EmpNr” column and print the results
print("Merge() on key\n", pd.merge(dests, tips, on='EmpNr'))
print("Dests join() tips\n", dests.join(tips, lsuffix='Dest', rsuffix='Tips'))
#Using the join() function, query both files and print the results
print("Inner join with merge()\n", pd.merge(dests, tips, how='inner'))
print("Outer join\n", pd.merge(dests, tips, how='outer'))

Dests
    EmpNr       Dest
0      5  The Hague
1      3  Amsterdam
2      9  Rotterdam
Tips
    EmpNr  Amount
0      5    10.0
1      9     5.0
2      7     2.5
Merge() on key
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0
Dests join() tips
    EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5
Inner join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0
Outer join
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

In [40]:
#load WHO_first9cols.csv file
df = pd.read_csv("Documents/BU/DSC 350/Week 4/WHO_first9cols.csv")

# Using the WHO_first9cols.csv file, select the first 3 rows, including the headers 
#for these two columns Country & Net primary school enrolment ratio male (%)
df = df[['Country', df.columns[-2]]][:2]
print("New df\n", df)
print("Null Values\n", pd.isnull(df))
print("Total Null Values\n", pd.isnull(df).sum())
print("Not Null Values\n", df.notnull())
print("Last Column Doubled\n", 2 * df[df.columns[-1]])
print("Last Column plus NaN\n", df[df.columns[-1]] + np.nan)
print("Zero filled\n", df.fillna(0))

New df
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
Null Values
    Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False
Total Null Values
 Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64
Not Null Values
    Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True
Last Column Doubled
 0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64
Last Column plus NaN
 0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64
Zero filled
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0